

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

img {
  display:block;
  margin:auto;
}

h3 {
  margin:0;
  color:#FFFFFF;
}

body {
  margin:0;
}

h1 {
  color:#414142;
}

h2 {
  color:#414142;
}

#container {
  width:100%;
}

#header {
  height:80px;
  background-color:#C36241;
  text-align:center;
}

#content {
  height:80%;
  margin:30px;
}

#footer {
  height:85px;
  background-color:#C36241;
  text-align:center;
  bottom:0;
}

a {
  color:#C36241;
  text-decoration:none;
}
